* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: 15% auto;
  grid-template-areas:
    "h h"
    "a m";
}

.app > * {
  border: 1px solid;
}

.app > header {
  grid-area: h;
}

.app > aside {
  grid-area: a;
}

.app > main {
  grid-area: m;
  padding: 10px;
}

.full {
  height: 100%;
  width: 100%;
}

.nav-it{
  width: 100%;
  padding: 8px 15px;
  border-bottom: 2px solid;
  color: #000;
}
.nav-it.active{
  color: #fff;
  background-color: #000;
}

header> .full{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header> .full> h1{
  font-weight: 700;
}

.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

